WebTrasladista_consumeWCF/WebTrasladista_consumeWCF/Connected Services/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:51579/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:51579/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:51579/Service1.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:51579/Service1.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Data" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IService1_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ObtenOperador_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenOperador" />
  </wsdl:message>
  <wsdl:message name="IService1_ObtenOperador_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenOperadorResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ObtenVehiculo_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenVehiculo" />
  </wsdl:message>
  <wsdl:message name="IService1_ObtenVehiculo_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenVehiculoResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ObtenAgencia_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenAgencia" />
  </wsdl:message>
  <wsdl:message name="IService1_ObtenAgencia_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenAgenciaResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_InsertaUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertaUsuario" />
  </wsdl:message>
  <wsdl:message name="IService1_InsertaUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertaUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_InsertaGasto_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertaGasto" />
  </wsdl:message>
  <wsdl:message name="IService1_InsertaGasto_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertaGastoResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_InsertaGastoVehiculo_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertaGastoVehiculo" />
  </wsdl:message>
  <wsdl:message name="IService1_InsertaGastoVehiculo_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertaGastoVehiculoResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_InsertaAgenciaOrigen_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertaAgenciaOrigen" />
  </wsdl:message>
  <wsdl:message name="IService1_InsertaAgenciaOrigen_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertaAgenciaOrigenResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_InsertaAgenciaDestino_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertaAgenciaDestino" />
  </wsdl:message>
  <wsdl:message name="IService1_InsertaAgenciaDestino_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertaAgenciaDestinoResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_InsertaServicio_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertaServicio" />
  </wsdl:message>
  <wsdl:message name="IService1_InsertaServicio_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertaServicioResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_MostrarServicios_InputMessage">
    <wsdl:part name="parameters" element="tns:MostrarServicios" />
  </wsdl:message>
  <wsdl:message name="IService1_MostrarServicios_OutputMessage">
    <wsdl:part name="parameters" element="tns:MostrarServiciosResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Login" message="tns:IService1_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/LoginResponse" message="tns:IService1_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenOperador">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ObtenOperador" message="tns:IService1_ObtenOperador_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ObtenOperadorResponse" message="tns:IService1_ObtenOperador_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenVehiculo">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ObtenVehiculo" message="tns:IService1_ObtenVehiculo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ObtenVehiculoResponse" message="tns:IService1_ObtenVehiculo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenAgencia">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ObtenAgencia" message="tns:IService1_ObtenAgencia_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ObtenAgenciaResponse" message="tns:IService1_ObtenAgencia_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertaUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/InsertaUsuario" message="tns:IService1_InsertaUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/InsertaUsuarioResponse" message="tns:IService1_InsertaUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertaGasto">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/InsertaGasto" message="tns:IService1_InsertaGasto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/InsertaGastoResponse" message="tns:IService1_InsertaGasto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertaGastoVehiculo">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/InsertaGastoVehiculo" message="tns:IService1_InsertaGastoVehiculo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/InsertaGastoVehiculoResponse" message="tns:IService1_InsertaGastoVehiculo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertaAgenciaOrigen">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/InsertaAgenciaOrigen" message="tns:IService1_InsertaAgenciaOrigen_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/InsertaAgenciaOrigenResponse" message="tns:IService1_InsertaAgenciaOrigen_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertaAgenciaDestino">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/InsertaAgenciaDestino" message="tns:IService1_InsertaAgenciaDestino_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/InsertaAgenciaDestinoResponse" message="tns:IService1_InsertaAgenciaDestino_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertaServicio">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/InsertaServicio" message="tns:IService1_InsertaServicio_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/InsertaServicioResponse" message="tns:IService1_InsertaServicio_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MostrarServicios">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/MostrarServicios" message="tns:IService1_MostrarServicios_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/MostrarServiciosResponse" message="tns:IService1_MostrarServicios_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/IService1/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenOperador">
      <soap:operation soapAction="http://tempuri.org/IService1/ObtenOperador" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenVehiculo">
      <soap:operation soapAction="http://tempuri.org/IService1/ObtenVehiculo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenAgencia">
      <soap:operation soapAction="http://tempuri.org/IService1/ObtenAgencia" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertaUsuario">
      <soap:operation soapAction="http://tempuri.org/IService1/InsertaUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertaGasto">
      <soap:operation soapAction="http://tempuri.org/IService1/InsertaGasto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertaGastoVehiculo">
      <soap:operation soapAction="http://tempuri.org/IService1/InsertaGastoVehiculo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertaAgenciaOrigen">
      <soap:operation soapAction="http://tempuri.org/IService1/InsertaAgenciaOrigen" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertaAgenciaDestino">
      <soap:operation soapAction="http://tempuri.org/IService1/InsertaAgenciaDestino" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertaServicio">
      <soap:operation soapAction="http://tempuri.org/IService1/InsertaServicio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MostrarServicios">
      <soap:operation soapAction="http://tempuri.org/IService1/MostrarServicios" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:51579/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>